

h1 {
text-align: center;
font-weight: bolder;
color: #222;
text-shadow: 0px 2px 3px #555;
}

#jumbotron {
    background-image: url("https://openweathermap.org/themes/openweathermap/assets/img/new-history-forecast-bulk.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
    margin: 0px;
}

.subheading {
    text-align: center;
    font-weight: bold;
    color: #222;
text-shadow: 0px 2px 3px #555;
}

.city-search {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat (2,100px);
}

#city-search-div {
    background-color: #87BAAB;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    text-align: center;
    border: solid 3px black;
    float: left;
}


#city-info {
    text-align: center;

}

#button-addon3 {
background-color: black;
color: rgb(245, 238, 199);
}

#button-addon3:hover {
    background-color: #7b435e;
    color: #f6ff4e;
    transition: all .2s ease-in-out;
}

.histbtn {
    background-color: #34113f;
    color: gold;
    /* border: solid black 2px; */
    display: block;
    text-align: center;
}

.histbtn:hover {
    background-color: purple;
    color: gold;
    border: solid black 2px;
    transition: all .2s ease-in-out;
    font-size: 20px;
}

#current-weather {
display: block
}

ul {
    text-align: center;
padding-left: 100px;

}

#fiveDayer {
    display: inline-block;
}

#fiveDays {
    background-color: rgb(80, 80, 245);
    color: white;
    text-emphasis: bolder;
    border: solid black 3px;
    width: 12rem;
    display: inline-block;
}

#cityButton {
    text-align: center;
    display: inline-block;
}

/* color classifications for UV index values */

.low {
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 5px;

}

.moderate {
    background-color: rgb(194, 194, 3);
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.high {
    background-color: orange;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.veryHigh {
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.extreme {
    background-color: violet;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

@media only screen and (max-width: 1024px) {

    .row {

        display: grid;

    }

    #city-search-div {

        margin: auto;
        padding-right: 100%;
        text-align: center;
        
    }
    
}